UI/Library.Wpf/Connected Services/ServiceReference2/Library.WcfService.Interfaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library.WcfService.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library.WcfService.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookType" nillable="true" type="tns:BookType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookType" nillable="true" type="tns:ArrayOfBookType" />
  <xs:complexType name="BookType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authors_Books" nillable="true" type="tns:ArrayOfAuthors_BooksType" />
      <xs:element minOccurs="0" name="BookID" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genres_Books" nillable="true" type="tns:ArrayOfGenres_BooksType" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="tns:PublisherType" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookType" nillable="true" type="tns:BookType" />
  <xs:complexType name="ArrayOfAuthors_BooksType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Authors_BooksType" nillable="true" type="tns:Authors_BooksType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthors_BooksType" nillable="true" type="tns:ArrayOfAuthors_BooksType" />
  <xs:complexType name="Authors_BooksType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:AuthorType" />
      <xs:element minOccurs="0" name="AuthorID" type="xs:int" />
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:BookType" />
      <xs:element minOccurs="0" name="BookID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authors_BooksType" nillable="true" type="tns:Authors_BooksType" />
  <xs:complexType name="AuthorType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorID" type="xs:int" />
      <xs:element minOccurs="0" name="Authors_Books" nillable="true" type="tns:ArrayOfAuthors_BooksType" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorType" nillable="true" type="tns:AuthorType" />
  <xs:complexType name="ArrayOfGenres_BooksType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Genres_BooksType" nillable="true" type="tns:Genres_BooksType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenres_BooksType" nillable="true" type="tns:ArrayOfGenres_BooksType" />
  <xs:complexType name="Genres_BooksType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookID" type="xs:int" />
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:BookType" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:GenreType" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genres_BooksType" nillable="true" type="tns:Genres_BooksType" />
  <xs:complexType name="GenreType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genres_Books" nillable="true" type="tns:ArrayOfGenres_BooksType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreType" nillable="true" type="tns:GenreType" />
  <xs:complexType name="PublisherType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBookType" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublisherName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublisherType" nillable="true" type="tns:PublisherType" />
  <xs:complexType name="ArrayOfPublisherType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PublisherType" nillable="true" type="tns:PublisherType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublisherType" nillable="true" type="tns:ArrayOfPublisherType" />
</xs:schema>